<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
      <link rel="stylesheet" href="/css/index.css">
      <script src="/js/app.js"></script>
</head>

<body>

    <!-- <a href="/weather">Chennai</a>
    <a href="/weather">Bangalore</a>
    <a href="/weather">New York</a> -->
    <span>{{>header}}</span>
    <div class="">
      <p>Location:{{location}}</p>
      <p>Latitude: {{latitude}}</p>
      <p>longitude: {{longitude}}</p>
      <p>temperature: {{temperature}}</p>
      <p>Humidity: {{humidity}}</p>
    </div>

    <!-- <h1>{{title}}</h1> -->

      <span>{{>footer}}</span>
</body>

</html>
